body {
  font-family: sans-serif;
  color: #1c1c1c;
}

h1, h2, h3 {
  font-family: sans-serif;
  color: #000000;
  text-align: center;
}

/*Navegação*/

#logo {
  font-family: "Tangerine";
  font-weight: 500;
  font-size: 50px;
  color: #FFFFFF;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  padding-bottom: 5px;
}

nav img {
  margin-right: 10px;
  margin-top: 5px;
  max-width: 100px;
  border-radius: 5px;
}

nav > a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 32px;
  font-family: serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

nav ul li a:hover {
  color: greenyellow;
  transition: .5s;
}

nav div {
  display: none;
  width: 100%;
}

nav div ul li {
  align-items: center;
  justify-content: space-around;

}

nav div ul li a img {
  width: 30px;
  margin: 1px;
  border-radius: 5px;
  background-image: none;
}

/*Sobre*/

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191970;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  text-align: justify;
  padding: 20px;
  width: auto;
}

#sobre h1 {
  color: #FFFFFF;
}

#sobre p {
  margin-bottom: 2em;
}

/*Agenda*/

#agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#agenda p {
  text-align: center;
}

#agenda a {
  text-decoration: none;
  color: #1c1c1c;
}

#agenda a:hover {
  color: greenyellow;
  transition: .5s;
}

/*Notícias*/

#noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#noticias ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

#noticias ul li a {
  text-decoration: none;
  color: #1c1c1c;
}

#noticias ul li a:hover {
  color: greenyellow;
  transition: .5s;
}

/*Discografia*/

#discografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

/*Fotos*/

#fotos h2 {
  text-align: center;
  margin-bottom: 20px;
}

#fotos div ul {
  padding: 0;
}

/*Vídeos*/

#videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

#videos div ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

#videos div ul li a {
  color: #1c1c1c;
  text-decoration: none;
}

#videos ul li a:hover {
  color: greenyellow;
  transition: .5s;
}

/*Contato*/

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#contato div p a {
  color: #1c1c1c;
  text-decoration: none;
}

#contato div p a:hover {
  color: greenyellow;
  transition: .5s;
}

/*Redes Sociais*/

#social {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

#social div {
  list-style: none;
  padding: 0;
}

#social div a img {
  width: 40px;
  margin: 1px;
  border-radius: 5px;
}

#social div a img:hover {
  transform: translateY(-5px);
  transition: .4s ease-in;
}

/*Footer*/

footer {
  text-align: center;
  padding: 10px;
  background-color: #272727;
  color: #FFFFFF;
}

/*Responsividade*/

@media screen and (min-width: 768px) {
  p, a {
    font-size: 20px;
  }

  /*Nav*/

  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 70%;
  }

  nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav div ul {
    align-items: center;
  }

  nav div ul li {
    background-color: #FFFFFF;
    margin: 2px;
    border-radius: 4px;
  }

  /*Contato*/

  #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
  }

  #contato h2, #contato p {
    width: 100%;
  }

  /*Redes sociais*/

  #social {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
  }
}
